@using BiddingProject2.Models
@using BiddingProject2.Models.ViewModel

@model Product

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string path = "~/Images/unnamed.png";
    if (Model.Image != null)
    {
        path = Model.Image;
    }

    List<AssignedCategories> assignedCategories = ViewBag.AssignedCate;
}


<h1>EditProduct</h1>

@using (Html.BeginForm("EditProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <p hidden id="myMessage">@ViewBag.Message</p>
    <div class="container-fluid">
        <div class="col-lg-4 col-md-4 float-right">
            <div class="form-image">
                <img src=@Url.Content(path) alt="noImage" class="img-responsive"
                     id="privateImage">
                <input type="file" name="ProductImageFile" id="inputImage" />
            </div>
        </div>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.ProductId)
            <div class="col-lg-8 col-md-8">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4 col-lg-4" })
                    <div class="col-md-8 col-lg-8">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="form-group row">
                    @Html.LabelFor(model => model.BeginPrice, "Begin Price (USD)", htmlAttributes: new { @class = "control-label col-md-4 col-lg-4" })
                    <div class="col-md-8 col-lg-8">
                        <input type="number" class="form-control" name="BeginPrice" value="1" />
                        @Html.ValidationMessageFor(model => model.BeginPrice, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="form-group row">
                    @Html.LabelFor(model => model.StartDate, "Start Date", htmlAttributes: new { @class = "control-label col-md-4 col-lg-4" })
                    <div class="col-md-8 col-lg-8">
                        <input type="datetime-local" name="StartDate" class="form-control" />
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="form-group row">
                    <label class="control-label col-md-4 col-lg-4">Categories</label>
                    <div class="col-md-8 col-lg-8">
                        @if (assignedCategories != null)
                        {
                            int count = 0;
                            foreach (var item in assignedCategories)
                            {
                                if (count == 3)
                                {
                                    count = 0;
                                }

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="idCategories" value="@item.CategoryId" @Html.Raw(item.IsAssigned ? "checked=\"checked\"" : "")>
                                    <label class="form-check-label">@item.CategoryName</label>
                                </div>
                                count++;
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4 col-lg-4" })
                    <div class="col-md-8 col-lg-8">
                        <textarea name="Description" rows="5" cols="30" class="form-control" placeholder="Input something"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10 ml-3">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>

}
<div class="ml-4">
    @Html.ActionLink("Back to List", "Products")
</div>

@*@section scripts{
    <script>
        $('#inputImage').change(function () {
            if (this.files && this.files[0]) {
                var fileReader = new FileReader();
                fileReader.readAsDataURL(this.files[0]);
                fileReader.onload = function (e) {
                    var myImage = $('img[alt="noImage"]');
                    myImage.attr('src', e.target.result);
                }
            }
        });
    </script>
}*@