@model BiddingProject2.Models.Profile

@{
    ViewBag.Title = "PrivateInfor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    bool check = Model.Gender;
    string img = "~/Images/unnamed.png";
    if (Model.Image != null)
    {
        img = Model.Image;
    }
}
@*<style>
    .custome-btn{
        background-color: var(--hover-colour);
        color: var(--white);
    }

    .custome-btn:hover {
        background-color: var(--bg-colour);
        border: 1px solid var(--hover-colour);
        color: var(--hover-colour);
    }

</style>*@

<h1>Private Information</h1>
<p class="hidden" id="myMessage">@ViewBag.Message</p>
@using (Html.BeginForm("PrivateInfor", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-container">
        <div class="form-image">
            <img src=@Url.Content(img) alt="noImage"
                 id="privateImage">
            <input type="file" name="ProfileImageFile" id="inputImage" />
        </div>
        <div class="form-info">
            <div class="form-group row">
                <label class="col-sm-2">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputUsername" value="@Model.Account.Username" placeholder="Username" name="Username" readonly="readonly">
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-2">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" name="Name" value="@Model.Name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Age</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputAge" placeholder="Age" name="Age" value="@Model.Age">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Occupation</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputOccupation" placeholder="Occupation" name="Occupation" value="@Model.Occupation">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            @Html.RadioButtonFor(m => m.Gender, true, new { @class = "form-check-input", @check = check ? "checked" : "" })
                            @*<input class="form-check-input" type="radio" name="Gender" id="gridRadios1" value="True" @Html.Raw(check ? "checked" : "")>*@
                            <label class="form-check-label" for="gridRadios1">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            @Html.RadioButtonFor(m => m.Gender, false, new { @class = "form-check-input", @check = check ? "" : "checked" })
                            @*<input class="form-check-input" type="radio" name="Gender" id="gridRadios2" value="False" @Html.Raw(check ? "" : "checked")>*@
                            <label class="form-check-label" for="gridRadios2">
                                Female
                            </label>
                        </div>
                        @*else
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Gender" id="gridRadios1" value="option1">
                                <label class="form-check-label" for="gridRadios1">
                                    Male
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Gender" id="gridRadios2" value="option2" checked>
                                <label class="form-check-label" for="gridRadios2">
                                    Female
                                </label>
                            </div>
                        }*@

                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <label class="col-sm-2">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email" value="@Model.Email">
                </div>
            </div>
            <input type="submit" value="Save" class="custome-btn" />
        </div>
    </div>
}

@*@section scripts{
    <script>
        $(document).ready(() => {
            $msg = $('.hidden').text();
            if ($msg != null) {
                if ($msg.indexOf('successful.') > 0) {
                    toastr.success($msg, 'Notification');
                }
            }
        });

        $('#inputImage').change(function () {
            if (this.files && this.files[0]) {
                var fileReader = new FileReader();
                fileReader.readAsDataURL(this.files[0]);
                fileReader.onload = function (e) {
                    var myImage = $('img[alt="noImage"]');
                    myImage.attr('src', e.target.result);
                }
            }
        });
    </script>
}*@
