@using BiddingProject2.Models
@model List<Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    decimal s = @ViewBag.TotalPage;
    int totalPage = int.Parse(s.ToString());
}


<h1>Products</h1>

@using (Html.BeginForm("Products", "Admin", FormMethod.Get))
{
    <div class="searchSection float-right">
        <input type="text" name="searchString" placeholder="Input something" value="@ViewBag.Search" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}

<div>
    <input type="button" class="btn btn-primary float-left" value="+ Add new product" onclick="addProduct(@ViewBag.TotalCategory)" />
</div>
<p class="hidden" id="myMessage">@ViewBag.Msg</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Image</th>
            <th>Category</th>
            <th>Begin price</th>
            <th>Start date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{int count = 1; }
        @foreach (var item in Model)
        {
            string defaultPath = "~/Images/unnamed.png";
            if (!String.IsNullOrEmpty(item.Image))
            {
                defaultPath = item.Image;
            }
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>
                    <img src=@Url.Content(defaultPath) style="width: 100px; height: 100px;" />
                </td>
                <td>
                    @foreach (var item2 in item.Categories)
                    {
                    <span>@item2.Category.Name, </span> 
                    }
                </td>
                <td>@string.Format("$ {0}.00", item.BeginPrice)</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td class="common-action">
                    <a href="@Url.Action("EditProduct", "Admin", new { idProduct = item.ProductId})">Edit</a> | <a href="#" onclick="customConfirm.show('Do you want to delete this product?', deleteProduct, @item.ProductId)">Delete</a>
                </td>
            </tr>
            count += 1;
        }
    </tbody>
</table>
<div id="dialog"></div>

@if(ViewBag.TotalPage != 0)
{
    <div class="pageNumber">
        <p>Page:&nbsp;<span id="currentPage">@ViewBag.PageNumber</span>&nbsp;of @ViewBag.TotalPage</p>
        <ul>
            @for (int i = 1; i <= totalPage; i++)
            {
                <li onclick="location.href='@Url.Action("Products", new { page = i, searchString = @ViewBag.Search })'">
                    <a href="@Url.Action("Products", new { page = i, searchString = @ViewBag.Search })">@i</a>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="displayNotify">
        <h2>There are nothing on this list</h2>
    </div>
}
